@model PetStore.ViewModels.Product.ProductFormViewModel

<h2>Add Product</h2>
<div id="mainContent">
    @using (Html.BeginForm(FormMethod.Post, true, new { @class = "add-product-form" }))
    {
        <span>All the fields are <span id="required">required</span>.</span>
            <div>
                @Html.LabelFor(m => m.Name, new { @class = "formLabel" })
                @Html.TextBoxFor(m => m.Name, new { autofocus = "autofocus", @class = "formField" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Price, new { @class = "formLabel" })
                @Html.TextBoxFor(m => m.Price, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div>
                @Html.LabelFor(m => m.Manufacturer, new { @class = "formLabel" })
                @Html.TextBoxFor(m => m.Manufacturer, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.Manufacturer)
            </div>
            <div>
                @Html.LabelFor(m => m.Description, new { @class = "formLabel" })
                @Html.TextAreaFor(m => m.Description, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div>
                @Html.LabelFor(m => m.Category, new { @class = "formLabel" })
                @Html.DropDownListFor(m => m.Category, new List<SelectListItem> { new SelectListItem { Text= "Dog" , Value="Dog"} , new SelectListItem { Text="Cat" , Value = "Cat"} }, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.Category)
            </div>
            <div>
                @Html.LabelFor(m => m.SubCategory, new { @class = "formLabel" })
                @Html.DropDownListFor(m => m.SubCategory, new List<SelectListItem> { new SelectListItem { Text = "Food", Value = "Food" }, new SelectListItem { Text = "Bowls", Value = "Bowls" } }, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.SubCategory)
            </div>
            <div>
                @Html.LabelFor(m => m.Image, new { @class = "formLabel" })
                @Html.TextBoxFor(m => m.Image, new { @class = "formField" })
                @Html.ValidationMessageFor(m => m.Image)
            </div>
            <button type="submit">Save</button>
    }
</div>
