@model PetStore.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title.</h2>
<div>
    @using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email and password</h4>
            <hr />
            @Html.ValidationSummary(true, "")
            <div>
                @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                <div>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>
            </div>
            <div>
                <div>
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
        }
</div>